<ng-container *ngIf="articles$ | async as articles; else notFound">
  <div class="my-articles">
    <ng-container *ngFor="let article of articles">
      <div class="my-articles__card">
        <app-article-card
          *ngIf="article"
          [article]="article"
        ></app-article-card>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <mat-spinner class="loading-bar" diameter="55" strokeWidth="4"></mat-spinner>
</ng-container>
<ng-template #notFound>
  <div class="no-article" *ngIf="!isLoading">
    <p>まだ、投稿した記事はありません。</p>
  </div>
</ng-template>
