<ng-container *ngIf="articles$ | async as articles; else notFound">
  <div class="liked-articles" [class.fade]="articles">
    <ng-container *ngFor="let article of articles">
      <app-article-card *ngIf="article" [article]="article"></app-article-card>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <mat-spinner class="loading-bar" diameter="55" strokeWidth="4"></mat-spinner>
</ng-container>
<ng-template #notFound>
  <div class="no-article" *ngIf="!isLoading">
    <p>まだ、いいねした記事はありません。</p>
  </div>
</ng-template>
