<mat-toolbar class="header">
  <mat-toolbar-row class="header__container">
    <a routerLink="/" class="header__title">DTMPlace</a>
    <form class="search">
      <input matInput placeholder="キーワードを入力" class="search__input" autocomplete="off" />
      <button mat-icon-button color="white" aria-label="検索アイコン" class="search__button">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <ng-template #default>
      <button [disabled]="isProcessing" (click)="login()" mat-flat-button color="primary" medium class="login-button">
        <span>Twitterでログイン</span>
      </button>
    </ng-template>

    <ng-container *ngIf="user$ | async as user; else default">
      <div class="header__nav">
        <button mat-flat-button color="primary" medium class="post-button">
          <mat-icon>post_add</mat-icon>
          <span>投稿する</span>
        </button>

        <button mat-icon-button medium [matMenuTriggerFor]="menu" aria-label="マイメニュー"
          [style.background-image]="'url(' + user.photoURL + ')'" class="my-menu">
        </button>


        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_box</mat-icon>
            <span>マイページ</span>
          </button>
          <button mat-menu-item>
            <mat-icon>article</mat-icon>
            <span>記事一覧</span>
          </button>
          <button (click)="logout()" mat-menu-item color="primary" medium class="logout-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
