<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="header__container">
    <a routerLink="/" class="header__title">DTMPlace</a>
    <form class="search">
      <input matInput placeholder="キーワードを入力" class="search__input" autocomplete="off" />
      <button mat-icon-button color="white" aria-label="icon button with a search icon" class="search__button">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div class="header__nav">
      <button (click)="login()" mat-flat-button color="primary" medium class="login-button">
        Twitterでログイン
      </button>
      <button mat-flat-button color="primary" medium class="post-button">
        投稿する
      </button>
      <button (click)="logout()" mat-flat-button color="primary" medium class="logout-button">
        ログアウト
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
