<mat-toolbar class="header">
  <mat-toolbar-row class="header__container">
    <a routerLink="/">
      <img src="/assets/icons/musil-logo.png" class="logo" alt="MusiL"
    /></a>

    <app-search-input class="search"></app-search-input>

    <ng-template #default>
      <button
        *ngIf="!isLoading"
        [disabled]="authService.loginProcessing"
        (click)="login()"
        mat-flat-button
        color="primary"
        class="login-button"
      >
        <mat-icon
          ><img src="/assets/icons/twitter-logo-white.png" alt="Twitterロゴ"
        /></mat-icon>
        <span>{{
          authService.loginProcessing ? 'ログイン中' : 'ログイン'
        }}</span>
      </button>
    </ng-template>

    <ng-container *ngIf="user$ | async as user; else default">
      <div class="header__nav">
        <button
          mat-flat-button
          color="primary"
          class="post-button"
          routerLink="/articles/create"
        >
          <mat-icon>post_add</mat-icon>
          <span>投稿</span>
        </button>

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="マイメニュー"
          [style.background-image]="'url(' + user.avatarURL + ')'"
          class="my-menu"
        ></button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/' + user.screenName">
            <mat-icon>account_box</mat-icon>
            <span>マイページ</span>
          </button>
          <button mat-menu-item routerLink="/articles">
            <mat-icon>article</mat-icon>
            <span>記事一覧</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/settings">
            <mat-icon>settings</mat-icon>
            <span>設定</span>
          </button>
          <button (click)="logout()" mat-menu-item class="logout-button">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
