.footer {
  background-color: inherit;
  padding: 16px 0 32px;
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      margin: 0 8px 8px;
      text-align: center;
    }
  }
}
mat-icon {
  font-size: 16px;
}
.copyright {
  text-align: center;
  margin: 8px 0px;
}
