@use 'mixins';

.footer {
  background-color: inherit;
  padding: 36px 0;
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
      margin: 0 8px 8px;
      text-align: center;
      @include mixins.sp {
        font-size: 14px;
      }
    }
  }
}
mat-icon {
  font-size: 16px;
}
.copyright {
  text-align: center;
  margin: 8px 0px;
  @include mixins.sp {
    font-size: 14px;
  }
}
