@import 'src/styles/mixins';

.about {
  margin: 0 -16px;
}

.about-hero {
  padding: 32px 0 0 0;
  text-align: center;
  &__title {
    max-width: 320px;
    margin: 0 auto;
    @include sp {
      max-width: 220px;
    }
  }
  &__sub-title {
    font-size: 20px;
    margin-bottom: 32px;
    letter-spacing: 1.8px;
    @include sp {
      font-size: 16px;
    }
  }
  &__notice {
    font-size: 12px;
    letter-spacing: 1.6px;
  }
}

.new-line::before {
  @include sp {
    content: '\A';
    white-space: pre;
  }
}

.login-button {
  background-color: $color-twitter;
}

.terms-link {
  color: $color-primary;
}

.post-button {
  margin-bottom: 44px;
}

.about-wave {
  position: relative;
  z-index: -10;
  margin: -100px 0 0;
  &__bg {
    background: center/cover no-repeat url('/assets/images/about-wave.svg');
    width: 100%;
    height: 320px;
  }
}

.section-title {
  font-size: 28px;
  letter-spacing: 1.8px;
  padding: 16px 0;
  text-align: center;
  position: relative;
  margin: 0 auto 20px;
  &::before {
    content: '';
    position: absolute;
    bottom: -12px;
    display: inline-block;
    width: 64px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-primary;
    border-radius: 4px;
  }
  @include sp {
    font-size: 24px;
  }
}

.about-features {
  padding: 52px 0;
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 50px;
    justify-content: center;
    margin: 40px 0;
  }
}

.feature {
  &__img {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    padding: 24px;
    background-color: #f5f5f5;
    border-radius: 100%;
  }
  &__title {
    text-align: center;
  }
}

.about-concept {
  background-color: $color-background;
  padding: 52px 16px;
  &__card {
    max-width: 610px;
    margin: 32px auto;
    padding: 40px 64px;
    @include sp {
      padding: 40px 20px;
    }
  }
  &__card-title {
    font-size: 20px;
    margin: 32px 0;
    text-align: center;
  }
}
