<div class="about">
  <div class="about__hero">
    <h1>音楽をもっと知り、もっと自由に</h1>
    <h2>MusiLは、音楽に関わる知識を記録・共有するためのサービスです。</h2>
    <button (click)="login()" mat-flat-button color="primary" medium class="login-button">
      <mat-icon><img src="/assets/icons/Twitter_Logo_WhiteOnImage.png"></mat-icon>
      <span>Twitterでログイン</span>
    </button>
  </div>
  <div class="about__features">
    <div class="about__features-left">
      <h2>MusiLの特徴</h2>
      <div class="about__features-text">
        <p>・自分が音楽に関して学んだ知見を気軽にアウトプットできる</p>
        <p>・アウトプットを発信することで知識が身になる</p>
        <p>・DTMや作曲で詰まり、学んで解決した内容をアウトプットすることで同じような人を助けられる</p>
        <p>・DTMや作曲に関しての情報を広められる</p>
      </div>
    </div>
    <div class="about__features-right">
      <img src="/assets/icons/Playing Music-rafiki_blue.png" alt="イメージ画像">
    </div>
  </div>
</div>
