<div class="about">
  <section class="about-hero">
    <h1 class="about-hero__title">
      <img src="/assets/icons/musil-logo.svg" alt="MusiL" />
    </h1>
    <h2 class="about-hero__sub-title">
      DTMや作曲の知識記録<span class="new-line">プラットフォーム</span>
    </h2>
    <ng-container *ngIf="isLoading; else button">
      <mat-spinner
        class="loading-bar"
        diameter="30"
        strokeWidth="3"
      ></mat-spinner>
    </ng-container>
    <ng-template #button>
      <ng-container *ngIf="!user; else top">
        <button
          [disabled]="authService.loginProcessing"
          (click)="login()"
          mat-flat-button
          color="primary"
          class="login-button"
        >
          <mat-icon
            ><img src="/assets/icons/twitter-logo-white.svg" alt="Twitterロゴ"
          /></mat-icon>
          <span>{{
            authService.loginProcessing ? 'ログイン中' : 'Twitterでログイン'
          }}</span>
        </button>
        <p class="about-hero__notice">
          <a routerLink="/terms" class="terms-link">利用規約</a
          >が適用されます。<span class="new-line"
            >許可なくツイート等は行いません。</span
          >
        </p>
      </ng-container>
      <ng-template #top>
        <button
          mat-flat-button
          color="primary"
          routerLink="/articles/create"
          *ngIf="user"
          class="post-button"
        >
          <mat-icon>post_add</mat-icon>
          <span>投稿してみる</span>
        </button>
      </ng-template>
    </ng-template>
  </section>
  <div class="about-wave"><div class="about-wave__bg"></div></div>
  <section class="about-features">
    <h2 class="section-title">MusiLの特徴</h2>
    <div class="about-features__body">
      <div class="feature">
        <div class="feature__img">
          <img src="/assets/icons/music-note.svg" alt="" />
        </div>
        <h3 class="feature__title">音楽系技術ブログに特化</h3>
      </div>
      <div class="feature">
        <div class="feature__img">
          <img src="/assets/icons/edit.svg" alt="" />
        </div>
        <h3 class="feature__title">直感的なエディター</h3>
      </div>
      <div class="feature">
        <div class="feature__img">
          <img src="/assets/icons/share.svg" alt="" />
        </div>
        <h3 class="feature__title">リンクをSNSにシェア</h3>
      </div>
    </div>
  </section>
  <section class="about-concept">
    <h2 class="section-title">コンセプト</h2>
    <div class="about-concept__body">
      <mat-card class="about-concept__card">
        <h3 class="about-concept__card-title">
          DTMや作曲の情報が集まる場を作りたい
        </h3>
        <p>
          DTMに関する個人ブログやプラグイン情報など有益な情報は溢れていますが、コミュニティとしての場がまだ少ないのではないかと思います。
        </p>
        <p>
          クリエイター向けの素晴らしい情報共有サービスは色々ありますが、DTMや作曲のジャンルに特化した記録・共有サービスがあればより楽しいのではないかと考えました。
        </p>
        <p>
          どんな些細なことでも、DTMや作曲に関することを気軽に投稿していけるサービスを目指していきます。
        </p>
      </mat-card>
    </div>
  </section>
</div>
