rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /articles/{articleId} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resource.data.userId && resource.data.userId == request.resource.data.userId;
      allow delete: if request.auth.uid == resource.data.userId;
    }
  }
}
