rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /articles/{aImageId=**} {
      allow read: if true;
      allow write: if false;
    }
    match /users/{userId}/{uImageId=**} {
      allow read: if true;
      allow write: if request.auth.uid == userId;
    }
  }
}
