<div class="grey-container">
  <app-welcome></app-welcome>
  <div class="top-page">
    <section class="top-main">
      <h2 class="top-main__title">
        <mat-icon aria-hidden="true" fontIcon="library_books"></mat-icon>
        <span>最新の投稿</span>
      </h2>
      <div class="top-main__body">
        @if (latestArticles$ | async; as latestArticles) { @for (article of
        latestArticles; track article) {
        <div class="top-main__card" [class.fade]="latestArticles">
          <app-article-card [article]="article"></app-article-card>
        </div>
        } } @else { @for (article of 'skelton'.repeat(21).split('s'); track
        article) {
        <div class="top-main__card">
          <app-article-card-skelton></app-article-card-skelton>
        </div>
        } }
      </div>
    </section>
    <section class="top-main">
      <h2 class="top-main__title">
        <mat-icon aria-hidden="true" fontIcon="trending_up"></mat-icon>
        <span>人気の投稿</span>
      </h2>
      <div class="top-main__body">
        @if ( popularArticles$ | async; as popularArticles) { @for (article of
        popularArticles; track article) {
        <div class="top-main__card" [class.fade]="popularArticles">
          <app-article-card [article]="article"></app-article-card>
        </div>
        } } @else { @for (article of 'skelton'.repeat(21).split('s'); track
        article) {
        <div class="top-main__card">
          <app-article-card-skelton></app-article-card-skelton>
        </div>
        } }
      </div>
    </section>
  </div>
</div>
