<div class="grey-container">
  <app-welcome></app-welcome>
  <div class="top-page">
    <section class="top-main">
      <h2 class="top-main__title">
        <mat-icon aria-hidden="true" fontIcon="library_books"></mat-icon>
        <span>最新の投稿</span>
      </h2>
      <div class="top-main__body">
        <ng-container
          *ngIf="latestArticles$ | async as latestArticles; else latestLoading"
        >
          <div
            class="top-main__card"
            *ngFor="let article of latestArticles"
            [class.fade]="latestArticles"
          >
            <app-article-card [article]="article"></app-article-card>
          </div>
        </ng-container>
        <ng-template #latestLoading>
          <div
            class="top-main__card"
            *ngFor="let article of 'skelton'.repeat(21).split('s')"
          >
            <app-article-card-skelton></app-article-card-skelton>
          </div>
        </ng-template>
      </div>
    </section>
    <section class="top-main">
      <h2 class="top-main__title">
        <mat-icon aria-hidden="true" fontIcon="trending_up"></mat-icon>
        <span>人気の投稿</span>
      </h2>
      <div class="top-main__body">
        <ng-container
          *ngIf="
            popularArticles$ | async as popularArticles;
            else popularLoading
          "
        >
          <div
            class="top-main__card"
            *ngFor="let article of popularArticles"
            [class.fade]="popularArticles"
          >
            <app-article-card [article]="article"></app-article-card>
          </div>
        </ng-container>
        <ng-template #popularLoading>
          <div
            class="top-main__card"
            *ngFor="let article of 'skelton'.repeat(21).split('s')"
          >
            <app-article-card-skelton></app-article-card-skelton>
          </div>
        </ng-template>
      </div>
    </section>
  </div>
</div>
