<div class="note">
  <ng-container *ngIf="article$ | async as article; else notFound;">
    <div class="note-header">
      <div class="note-header__author">
        <a [routerLink]="'/'  + article.author.screenName">
          <img class="note-header__user-icon" [src]="article.author.avatarURL" alt="ユーザーアイコン"></a>
        <a class="note-header__user-name" [routerLink]="'/' + article.author.screenName">{{article.author.uName}}</a>
        <a class="note-header__twitter" [href]="'https://twitter.com/' + article.author.screenName">
          <img src="/assets/icons/twitter.png" alt="twitterアイコン">
        </a>
        <p class="note-header__updated-date">
          {{ article.createdAt.toDate() | date: 'yyyy年MM月dd日' }}更新
        </p>
      </div>
      <h1 class="note-header__title">{{article.title}}
      </h1>
      <a href="#" class="note-header__tag">DTM</a>
      <a href="#" class="note-header__tag">Sylenth1</a>
    </div>
    <div class="note__content">
      <h2>はじめに</h2>
      <p>今回のLogicProのアップデートではEXS24がSamplerになりました</p>
      <h2>Samplerの変更点</h2>
      <p>以前よりもサンプルを加工しやすくなった。パラメーターが以下の通り増えている。</p>
      <br>
      <p>実際に</p>
      <img src='https://placehold.it/800x200' alt='イメージ1' />
      <p>ということだ</p>
    </div>
    <div class="note-footer">
      <div class="actions">
        <button mat-icon-button color="warn" class="actions__favorite" aria-label="いいね" matTooltip="いいね">
          <mat-icon>favorite</mat-icon>
        </button>
        <div class="actions__share">
          <button mat-icon-button class="actions__twitter" aria-label="Twitterでシェア" matTooltip="Twitterでシェア">
            <img src="/assets/icons/twitter.png" alt="twitterアイコン">
          </button>
          <button mat-icon-button href="#" class="actions__link" aria-label="リンクをコピー" matTooltip="リンクをコピー">
            <mat-icon>link</mat-icon>
          </button>
        </div>
      </div>
      <div class="note-footer__author">
        <a href="#">
          <img src='https://placehold.it/40x40' alt='ユーザーアイコン' class="note-footer__user-icon" />
        </a>
        <div class="note-footer__user-profile">
          <a class="note-footer__user-name">
            こむら
          </a>
          <p class="note-footer__user-text">インターネットと音楽が好きです</p>
          <p>SNSでコメントを送ろう
          </p>
          <a>
            <img class="note-footer__twitter" src="/assets/icons/twitter.png" alt="twitterアイコン">
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #notFound>
    <p class="error">「{{articleId}}」という記事は存在しませんでした。</p>
  </ng-template>
</div>
