.note {
  background-color: #fff;
  margin: 12px auto;
  max-width: 910px;
  display: grid;
  grid-template-columns: 80px calc(100% - 160px - 80px) 160px;
  grid-template-rows: minmax(300px, auto) 1fr;
  &__left-box {
    position: sticky;
    top: 130px;
  }
  &__main-box {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 16px;
  }
  &__sub-box {
    position: sticky;
    top: 100px;
  }
  &__sub-box-title {
    text-align: center;
  }
  &__sub-box-toc {
    padding: 0;
    font-size: 14px;
    overflow-y: auto;
    max-height: 70vh;
    li {
      list-style: none;
    }
    a {
      display: block;
      padding: 4px;
      text-decoration: none;
      &:hover {
        background: #f0f0f0;
      }
    }
    .active {
      background: #f0f0f0;
    }
  }
}

.left-actions {
  display: flex;
  flex-direction: column;
  &__like {
    margin-left: 2px;
    transform-origin: 50% 50%;
    &--liked {
      animation: like-anim 0.5s ease-out;
    }
  }
  &__twitter {
    .mat-icon {
      width: 44px;
      img {
        margin-top: -6px;
      }
    }
  }
  &__link {
    color: #808080;
  }
}

.note-header {
  padding: 0 4px;
  &__draft {
    background-color: #f0f0f0;
    padding: 32px 0;
    margin: 0 auto;
  }
  &__draft-text {
    text-align: center;
  }
  &__author {
    padding: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__user-name {
    font-weight: bold;
    padding: 8px;
  }
  &__twitter {
    margin: 0 4px -6px 0;
  }
  &__updated-date {
    color: #808080;
    margin: 0;
  }
  &__actions {
    margin-left: auto;
  }
  &__title {
    padding: 0 4px;
  }
}

.note-content {
  padding: 20px 8px;
  border-bottom: solid 1px #b6b6b6;
}

.note-footer {
  padding: 12px 4px 0 4px;
  &__author {
    padding: 4px;
    display: flex;
  }
  &__user-profile {
    padding: 0 12px;
  }
  &__user-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    max-width: 80px;
  }
  &__user-name {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
  }
  &__user-description {
    margin: 0 0 8px 0;
  }
  &__twitter {
    .mat-icon {
      font-size: 24px;
      img {
        width: 24px;
      }
    }
    text-decoration: none;
    background-color: #1da1f2;
  }
}

.main-actions {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  &__like {
    transform-origin: 50% 50%;
    &--liked {
      animation: like-anim 0.5s ease-out;
    }
  }
  &__share {
    display: flex;
    align-items: center;
  }
  &__twitter {
    .mat-icon {
      width: 44px;
      img {
        margin-top: -6px;
      }
    }
  }
  &__link {
    color: #808080;
  }
}

.mat-icon-button {
  width: 50px;
  height: 50px;
}
.mat-icon {
  font-size: 32px;
  width: 32px;
}

.toc-h2 {
  margin-left: 10px;
}
.toc-h3 {
  margin-left: 20px;
}
.toc-h4 {
  margin-left: 30px;
}

@media screen and (max-width: 896px) {
  .note {
    display: block;
    &__left-box {
      display: none;
    }
    &__main-box {
      width: 100%;
      padding: 0;
    }
    &__sub-box {
      display: none;
    }
  }
}

@keyframes like-anim {
  0% {
    transform: scale(0.4, 0.4);
  }
  40% {
    transform: scale(1.2, 1.2);
  }
  60% {
    transform: scale(1, 1);
  }
  80% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
