.note {
  background-color: #fff;
  padding: 16px 24px;
  margin: auto;
  max-width: 800px;
  &__content {
    padding: 20px 8px;
    border-bottom: solid 1px #b6b6b6;
  }
}

.note-header {
  padding: 0 4px;
  &__author {
    padding: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__user-name {
    font-weight: bold;
    padding: 8px;
  }
  &__twitter {
    margin: 0 4px -6px 0;
  }
  &__updated-date {
    color: #808080;
    margin: 0;
  }
  &__title {
    padding: 0 4px;
  }
  &__tag {
    background-color: #eee;
    padding: 8px;
    color: #5e5d5d;
    margin: 0 4px;
    border-radius: 4px;
  }
}

.mat-icon-button {
  width: 50px;
  height: 50px;
}
.mat-icon {
  font-size: 32px;
  width: 32px;
}

.actions {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  &__share {
    display: flex;
    align-items: center;
  }
  &__twitter {
    .mat-icon {
      width: 44px;
      img {
        margin-top: -6px;
      }
    }
  }
  &__link {
    color: #808080;
  }
}

.note-footer {
  padding: 12px 4px 0 4px;
  &__author {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
  }
  &__user-profile {
    padding: 0 12px;
  }
  &__user-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &__user-name {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
  }
  &__user-description {
    margin: 0 0 8px 0;
  }
  &__twitter {
    margin-left: -6px;
  }
}
