@use 'mixins';

.header {
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  margin: 0;
  display: flex;
  height: 70px;
  box-shadow: 0 0px 2px 1px #3c3c3c4d, 0 0px 4px 2px #3c3c3c26;
  &__container {
    max-width: 1000px;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
}

.search {
  display: block;
  position: relative;
  flex: 1;
  padding: 0 24px;
  @include mixins.sp {
    padding: 0 4px;
  }
}

.logo {
  height: 40px;
  padding-top: 5px;
}

.login-button {
  background-color: mixins.$color-twitter;
}

.post-button {
  margin-right: 24px;
  @include mixins.sp {
    min-width: 52px;
    margin-right: 12px;
    span {
      display: none;
    }
  }
}

.my-menu {
  line-height: normal;
  mat-icon {
    height: 100%;
    width: 100%;
  }
  img {
    border-radius: 50%;
  }
}
