@use 'mixins';

.mypage {
  &__author {
    margin: 28px auto 16px;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__user-profile {
    margin-top: 16px;
    width: 100%;
    max-width: 450px;
  }
  &__user-header {
    display: flex;
    align-items: center;
  }
  &__user-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 16px 16px 0 16px;
    @include mixins.sp {
      width: 80px;
      height: 80px;
      margin: 8px 8px 0 8px;
    }
  }
  &__user-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px;
    @include mixins.sp {
      font-size: 18px;
    }
  }
  &__user-screen-name {
    font-size: 16px;
    margin: 0 0 8px;
    @include mixins.sp {
      font-size: 14px;
    }
  }
  &__user-description {
    font-size: 16px;
    margin: 0 0 16px;
    @include mixins.sp {
      font-size: 14px;
    }
  }
  &__twitter {
    text-decoration: none;
    background-color: mixins.$color-twitter;
    @include mixins.sp {
      font-size: 14px;
    }
  }
  &__nav {
    margin: 0 auto;
    max-width: 610px;
    border: none;
  }
  &__body {
    background-color: mixins.$color-background;
    min-height: 400px;
    margin: 0 -16px;
    padding: 16px;
  }
}

.edit-profile {
  margin-left: auto;
  @include mixins.sp {
    font-size: 14px;
  }
}

.mat-tab-link {
  font-size: 16px;
  text-decoration: none;
  @include mixins.sp {
    font-size: 14px;
  }
}
.mat-tab-label-active {
  opacity: 1;
}

.skelton-mypage {
  width: 610px;
  height: 240px;
  margin: 28px auto 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__user-profile {
    margin-top: 16px;
    width: 100%;
    max-width: 450px;
  }
  &__user-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 16px 16px 0 16px;
    @include mixins.skelton-loading;
    @include mixins.sp {
      width: 80px;
      height: 80px;
      margin: 8px 8px 0 8px;
    }
  }
  &__user-name {
    width: 100%;
    height: 20px;
    margin: 0 0 8px;
    @include mixins.skelton-loading;
  }
  &__user-screen-name {
    width: 100%;
    height: 16px;
    margin: 0 0 8px;
    @include mixins.skelton-loading;
  }
  &__user-description {
    width: 100%;
    height: 60px;
    margin: 0 0 16px;
    @include mixins.skelton-loading;
  }
  &__twitter {
    width: 30%;
    height: 36px;
    margin: 0 0 16px;
    @include mixins.skelton-loading;
  }
}
