@import 'mixins';

.pickup {
  &__title {
    max-width: 910px;
    margin: 16px auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
    .mat-icon {
      margin-right: 8px;
    }
  }
}

.pickup-card {
  width: 100%;
  &__thumbnail {
    width: 100%;
  }
}
.swiper-slide {
  box-sizing: border-box;
  height: auto;
}
