<div class="pickup">
  <h3 class="pickup__title">
    <mat-icon>stars</mat-icon>
    <span>ピックアップ</span>
  </h3>
  <swiper
    class="swiper"
    [config]="swiperConfig"
    *ngIf="articles$ | async as articles"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let article of articles">
        <a
          [routerLink]="
            '/' + article.author.screenName + '/a/' + article.articleId
          "
          class="pickup-card"
        >
          <img [src]="article.thumbnailURL" alt="サムネイルURL" />
        </a>
      </div>
    </div>
    <div class="swiper__arrow swiper__arrow--next">
      <button mat-mini-fab color="primary">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <div class="swiper__arrow swiper__arrow--prev">
      <button mat-mini-fab color="primary">
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
  </swiper>
</div>
