<section class="article-comment">
  <h3 class="article-comment__title">
    <mat-icon aria-hidden="true" fontIcon="comment"></mat-icon>
    <span>コメント</span>
  </h3>
  <ng-container *ngIf="allComments$ | async as allComments; else noComment">
    <ng-container *ngFor="let comment of allComments">
      <div class="comment-card fade">
        <ng-container *ngIf="comment.author; else noComment">
          <div class="comment-card__head">
            <a
              (click)="$event.stopPropagation()"
              [routerLink]="'/' + comment.author.screenName"
            >
              <img
                class="comment-card__avatar"
                [src]="comment.author.avatarURL"
                alt="プロフィール画像"
              />
            </a>
            <a
              class="comment-card__name"
              (click)="$event.stopPropagation()"
              [routerLink]="'/' + comment.author.screenName"
              >{{ comment.author.userName }}</a
            >
            <div class="comment-card__spacer"></div>
            <button
              mat-flat-button
              color="warn"
              (click)="
                commentService.deleteComment(
                  comment.articleId,
                  comment.commentId
                )
              "
              class="comment-card__delete"
              *ngIf="authService.uid === comment.uid"
            >
              削除
            </button>
          </div>
          <div class="comment-card__comment">{{ comment.text }}</div>
        </ng-container>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
  <ng-template #noComment>
    <p>まだコメントはありません。</p>
  </ng-template>

  <ng-container *ngIf="authService.user$ | async as user; else notLogin">
    <form class="comment-form" [formGroup]="form">
      <div class="comment-form__head">
        <mat-form-field color="accent" appearance="outline" floatLabel="always">
          <mat-label></mat-label>
          <textarea
            formControlName="comment"
            placeholder="コメントしてみましょう"
            autocomplete="off"
            matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="4"
            #body
            (keydown.shift.enter)="
              $event.preventDefault(); $event.stopPropagation()
            "
            (keyup.shift.enter)="sendComment(user.uid)"
          ></textarea>
          <mat-hint class="comment-form__hint"
            >Shift + Enter で送信、Enter で改行</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="comment-form__action">
        <button
          mat-flat-button
          color="primary"
          [disabled]="
            commentControl.value === '' || form.pristine || processing
          "
          (click)="sendComment(user.uid)"
        >
          投稿する
        </button>
      </div>
    </form>
  </ng-container>
  <ng-template #notLogin>
    <div class="not-login" *ngIf="!authService.loginProcessing; else loading">
      <p>ログインをしてコメントしてみましょう</p>
      <button
        [disabled]="authService.loginProcessing"
        (click)="login()"
        mat-flat-button
        color="primary"
        class="login-button"
      >
        <mat-icon aria-hidden="true"
          ><img src="/assets/icons/twitter-logo-white.svg" alt="Twitterロゴ"
        /></mat-icon>
        <span>{{
          authService.loginProcessing ? 'ログイン中' : 'Twitterでログイン'
        }}</span>
      </button>
    </div>
    <ng-template #loading>
      <mat-spinner
        class="loading-bar"
        diameter="55"
        strokeWidth="4"
      ></mat-spinner>
    </ng-template>
  </ng-template>
</section>
