.mypage {
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  &__author {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__user-profile {
    margin: 16px;
    max-width: 460px;
  }
  &__user-header {
    display: flex;
    align-items: center;
  }
  &__user-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 16px 0px;
  }
  &__user-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 8px;
  }
  &__user-screen-name {
    font-size: 16px;
    margin: 0 0 8px;
  }
  &__user-description {
    font-size: 16px;
    margin: 0 0 16px;
  }
  &__twitter {
    text-decoration: none;
    background-color: #1da1f2;
  }
  &__menu {
    max-width: 600px;
    margin: 0 auto;
  }
  &__body {
    padding: 12px 0;
    margin: 0 auto;
  }
}

.edit-profile {
  margin-left: auto;
}

.mat-tab-link {
  font-size: 16px;
  text-decoration: none;
}
