<div class="mypage">
  <ng-container *ngIf="user$ | async as user; else notFoundUser">
    <div class="mypage__author">
      <img
        [src]="user.avatarURL"
        class="mypage__user-icon"
        alt="プロフィール画像"
      />
      <div class="mypage__user-profile">
        <div class="mypage__user-header">
          <h2 class="mypage__user-name">{{ user.userName }}</h2>
          <ng-container *ngIf="isAuthor(user.uid)">
            <div class="edit-profile">
              <button
                mat-stroked-button
                class="edit-profile"
                routerLink="/settings"
              >
                編集
              </button>
            </div>
          </ng-container>
        </div>
        <p class="mypage__user-screen-name">@{{ user.screenName }}</p>
        <p
          class="mypage__user-description"
          [innerHTML]="stringToLink(user.description)"
        ></p>
        <a
          [href]="'https://twitter.com/' + user.screenName"
          class="mypage__twitter-icon"
        >
          <mat-icon>
            <img src="/assets/icons/twitter-logo_blue.png" alt="Twitterロゴ" />
          </mat-icon>
        </a>
      </div>
    </div>

    <nav mat-tab-nav-bar mat-stretch-tabs class="mypage__menu">
      <a
        mat-tab-link
        [routerLink]="'/' + screenName"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        #rla1="routerLinkActive"
        [active]="rla1.isActive"
      >
        記事
      </a>
      <a
        mat-tab-link
        [routerLink]="'/' + screenName + '/likes'"
        routerLinkActive
        #rla2="routerLinkActive"
        [active]="rla2.isActive"
      >
        いいね
      </a>
    </nav>

    <div class="mypage__body">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

  <ng-template #notFoundUser>
    <p class="error" *ngIf="!isLoading">
      「{{ screenName }}」というユーザーは存在しませんでした。
    </p>
  </ng-template>
</div>
