.mypage {
  background-color: #fff;
  padding: 12px;
  margin: 0 auto;
  max-width: 800px;
  &__author {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__user-profile {
    padding-left: 32px;
    max-width: 460px;
  }
  &__user-header {
    display: flex;
    align-items: center;
  }
  &__user-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  &__user-name {
    font-weight: bold;
    padding: 8px 0;
    margin: 0;
  }
  &__user-screen-name {
    margin: 0 0 8px 0;
  }
  &__user-description {
    margin: 0 0 8px 0;
    a {
      color: #1da1f2;
    }
  }
  &__twitter-icon {
    .mat-icon {
      width: 44px;
    }
  }
  &__menu {
    max-width: 700px;
    margin: 0 auto;
  }
  &__body {
    padding: 12px 0;
    display: grid;
    justify-content: center;
    grid-column-gap: 12px;
  }
}

.edit-profile {
  margin-left: auto;
}

.mat-tab-link {
  font-size: 16px;
  text-decoration: none;
}

.error {
  text-align: center;
}
