<ng-container *ngIf="user$ | async as user; else notFoundUser">
  <div class="mypage">
    <div class="mypage__author">
      <img
        [src]="user.avatarURL"
        class="mypage__user-icon"
        alt="プロフィール画像"
      />
      <div class="mypage__user-profile">
        <div class="mypage__user-header">
          <h2 class="mypage__user-name">{{ user.userName }}</h2>
          <ng-container *ngIf="user.uid === authService.uid">
            <button
              mat-stroked-button
              class="edit-profile"
              routerLink="/settings"
            >
              編集
            </button>
          </ng-container>
        </div>
        <p class="mypage__user-screen-name">@{{ user.screenName }}</p>
        <p
          class="mypage__user-description"
          [innerHTML]="user.description | stringToLink"
        ></p>
        <a
          mat-flat-button
          color="primary"
          [href]="
            'https://twitter.com/intent/follow?screen_name=' + user.screenName
          "
          class="mypage__twitter"
          target="_blank"
          rel="noopener noreferrer"
          *ngIf="user.uid !== authService.uid"
        >
          <mat-icon
            ><img src="/assets/icons/twitter-logo-white.png" alt="Twitterロゴ"
          /></mat-icon>
          <span>Twitterでフォロー</span>
        </a>
      </div>
    </div>

    <nav
      mat-tab-nav-bar
      mat-stretch-tabs
      disablePagination="true"
      class="mypage__menu"
    >
      <a
        mat-tab-link
        [routerLink]="'/' + user.screenName"
        routerLinkActive
        [routerLinkActiveOptions]="{ exact: true }"
        #rla1="routerLinkActive"
        [active]="rla1.isActive"
      >
        投稿
      </a>
      <a
        mat-tab-link
        [routerLink]="'/' + user.screenName + '/likes'"
        routerLinkActive
        #rla2="routerLinkActive"
        [active]="rla2.isActive"
      >
        いいね
      </a>
    </nav>

    <div class="mypage__body">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #notFoundUser>
  <app-not-found *ngIf="!isLoading"></app-not-found>
</ng-template>
