<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="true"
  [aspectRatio]="1 / 1"
  format="png"
  resizeToWidth="300"
  (imageLoaded)="imageLoaded()"
  (imageCropped)="imageCropped($event)"
  (loadImageFailed)="loadImageFailed()"
>
</image-cropper>
<div class="actions">
  <button
    class="actions__cancel-button"
    *ngIf="imageChangedEvent"
    mat-button
    (click)="resetInput()"
  >
    キャンセル
  </button>
  <button
    class="actions__change-button"
    [disabled]="!croppedImage"
    (click)="changeAvatar()"
    mat-flat-button
    color="primary"
  >
    変更する
  </button>
</div>
