<div class="recommend-article-wrapper">
  <div class="recommend-article">
    <h2 class="recommend-article__title">
      <mat-icon aria-hidden="true" fontIcon="next_plan"></mat-icon>
      <span>他のおすすめ記事</span>
    </h2>
    <div class="recommend-article__body">
      <ng-container *ngIf="articles$ | async as articles; else loading">
        <div
          class="recommend-article__card"
          *ngFor="let article of articles"
          [class.fade]="articles"
        >
          <app-article-card
            [article]="article"
            (click)="resetArticlesLoaded()"
          ></app-article-card>
        </div>
      </ng-container>
      <ng-template #loading>
        <div
          class="recommend-article__card"
          *ngFor="let article of 'skelton'.repeat(11).split('s')"
        >
          <app-article-card-skelton></app-article-card-skelton>
        </div>
      </ng-template>
    </div>
  </div>
</div>
