<div class="recommend-article-wrapper">
  <div class="recommend-article">
    <h2 class="recommend-article__title">
      <mat-icon aria-hidden="true" fontIcon="next_plan"></mat-icon>
      <span>他のおすすめ記事</span>
    </h2>
    <div class="recommend-article__body">
      @if (articles$ | async; as articles) { @for (article of articles; track
      article) {
      <div class="recommend-article__card" [class.fade]="articles">
        <app-article-card
          [article]="article"
          (click)="resetArticlesLoaded()"
        ></app-article-card>
      </div>
      } } @else { @for (article of 'skelton'.repeat(11).split('s'); track
      article) {
      <div class="recommend-article__card">
        <app-article-card-skelton></app-article-card-skelton>
      </div>
      } }
    </div>
  </div>
</div>
