@import 'mixins';

.top-page {
  max-width: 910px;
  margin: 0 auto;
  @include tab {
    display: block;
  }
}
.top-main {
  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-grey;
    mat-icon {
      margin-right: 8px;
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__card {
    width: 48%;
    &:last-of-type {
      border: none;
    }
    @include tab {
      width: 100%;
    }
  }
}
