@use '@angular/material' as mat;
@include mat.core();

$musil-primary: mat.define-palette(mat.$deep-orange-palette);
$musil-accent: mat.define-palette(mat.$indigo-palette);
$musil-warn: mat.define-palette(mat.$red-palette);

$musil-theme: mat.define-light-theme($musil-primary, $musil-accent, $musil-warn);
@include mat.all-component-themes($musil-theme);
