@import '~@angular/material/theming';
@include mat-core();

$musil-primary: mat-palette($mat-deep-orange);
$musil-accent: mat-palette($mat-pink, A200, A100, A400);
$musil-warn: mat-palette($mat-red);

$musil-theme: mat-light-theme($musil-primary, $musil-accent, $musil-warn);
@include angular-material-theme($musil-theme);
