.card {
  max-width: 610px;
  padding: 16px 0 0 0;
  margin-bottom: 30px;
  &__eye-catch {
    max-height: 300px;
    margin: 0;
  }
  &__content {
    padding: 16px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__author {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__user-icon {
    background-image: url("https://pbs.twimg.com/profile_images/1020302875229007872/nvfnS9YM_normal.jpg");
    background-size: cover;
  }
  &__user-name {
    font-size: 16px;
    padding: 8px;
  }
}
