<div class="card">
  <a [routerLink]="'/' + article.author.screenName + '/n/' + article.articleId" class="card__inner">
    <ng-container *ngIf="article.thumbnailURL && article.thumbnailURL != 'null'">
      <img class="card__thumbnail-image" [src]="article.thumbnailURL" alt="サムネイル画像">
    </ng-container>
    <h3 class="card__title" (click)="$event.stopPropagation(); $event.preventDefault()"
      [routerLink]="'/' + article.author.screenName + '/n/' + article.articleId">
      {{ article.title }}
    </h3>
    <div class="card__author">
      <a (click)="$event.stopPropagation()" [routerLink]="'/'  + article.author.screenName">
        <img class="card__user-icon" [src]="article.author.avatarURL" alt="ユーザーアイコン"></a>
      <div class="card__author-name">
        <a class="card__user-name" (click)="$event.stopPropagation()"
          [routerLink]="'/' + article.author.screenName">{{article.author.userName}}</a>
        <a class="card__screen-name" (click)="$event.stopPropagation()"
          [routerLink]="'/' + article.author.screenName">@{{article.author.screenName}}</a>
      </div>
    </div>
  </a>
</div>
