<div class="card">
  <a [routerLink]="'/komura_c/n/' + article.uId" class="card__inner">
    <div class="card__content">
      <a class="card__title" (click)="$event.stopPropagation()" [routerLink]="'/komura_c/n/' + article.uId">
        {{ article.title }}
      </a>
    </div>
    <div class="card__author">
      <a class="card__user-icon" (click)="$event.stopPropagation()" [routerLink]="'/komura_c'"></a>
      <a class="card__user-name" (click)="$event.stopPropagation()" [routerLink]="'/komura_c'">こむら</a>
    </div>
  </a>
</div>
