.card {
  max-width: 610px;
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  background-color: #ffffff;
  &:hover {
    transition-duration: 0.2s;
    background-color: #f5f5f5;
  }
  &__inner {
    padding: 20px;
    display: block;
    outline-style: none;
    text-decoration: none;
  }
  &__thumbnail-image {
    border-radius: 4px;
    max-width: 100%;
    max-height: 300px;
  }
  &__title {
    margin: 8px 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &__author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__user-icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__author-name {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  &__user-name {
    font-weight: bold;
    font-size: 16px;
  }
  &__screen-name {
    padding-left: 4px;
  }
}
