<div [formGroup]="parentForm">
  <mat-form-field class="tag-form" color="accent">
    <mat-chip-list #chipList aria-label="タグセレクション">
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
      >
        {{ tag }}
        <mat-icon
          matChipRemove
          *ngIf="removable"
          aria-hidden="false"
          [attr.aria-label]="tag + 'をタグから除く'"
          fontIcon="cancel"
        ></mat-icon>
      </mat-chip>
      <input
        placeholder="タグ"
        #tagInput
        formControlName="tag"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let tag of allTags" [value]="tag.value">
        {{ tag.value }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint align="end">{{ tags?.length || 0 }}/{{ tagMaxLength }}</mat-hint>
    <mat-error *ngIf="chipList.errorState"
      >タグは{{ tagMaxWordCount }}文字以内です</mat-error
    >
  </mat-form-field>
</div>
