<div [formGroup]="parentForm">
  <mat-form-field class="tag-form" color="accent">
    <mat-chip-grid #chipList aria-label="タグセレクション">
      @for (tag of tags; track tag) {
      <mat-chip-row [removable]="removable" (removed)="remove(tag)">
        {{ tag }}
        @if (removable) {
        <mat-icon
          matChipRemove
          aria-hidden="false"
          [attr.aria-label]="tag + 'をタグから除く'"
          fontIcon="cancel"
        ></mat-icon>
        }
      </mat-chip-row>
      }
      <input
        placeholder="タグ"
        #tagInput
        formControlName="tag"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-grid>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      @for (tag of allTags; track tag) {
      <mat-option [value]="tag.value">
        {{ tag.value }}
      </mat-option>
      }
    </mat-autocomplete>
    <mat-hint align="end">{{ tags?.length || 0 }}/{{ tagMaxLength }}</mat-hint>
    @if (chipList.errorState) {
    <mat-error>タグは{{ tagMaxWordCount }}文字以内です</mat-error>
    }
  </mat-form-field>
</div>
