.search {
  &__input {
    box-sizing: border-box;
    appearance: none;
    width: 100%;
    line-height: 36px;
    border-radius: 16px;
    padding: 0 42px 0 16px;
    font-size: 12px;
    margin: 0;
    outline: none;
    border: solid 1px #e0e0e0;
  }
  &__button {
    position: absolute;
    color: #757575;
    right: 24px;
  }
}

.smart-search {
  display: none;
}
.smart-search-box {
  display: none;
}

@media screen and (max-width: 480px) {
  .search {
    display: none;
  }
  .smart-search {
    display: block;
  }
  .smart-search-box {
    position: fixed;
    top: 65px;
    right: 60px;
    left: 0;
    z-index: 20;
    width: calc(100% - 70px);
    margin: 0 auto;
    &__input {
      appearance: none;
      width: 100%;
      line-height: 36px;
      border-radius: 4px;
      font-size: 12px;
      outline: none;
      border: solid 1px #e0e0e0;
      height: 44px;
      background-color: #fff;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
      padding: 0 42px 0 16px;
    }
    &__button {
      background-color: #fff;
      position: absolute;
      color: #757575;
      right: -50px;
      top: 4px;
    }
  }
  .active {
    display: block;
  }
}
