.editor {
  background-color: #ffffff;
  &__form {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
  }
  &__title {
    width: 100%;
  }
  &__tag {
    width: 100%;
  }
  &__text {
    width: 100%;
  }
  &__buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.draft {
  background-color: grey;
}
button {
  max-width: 440px;
  width: 100%;
  padding: 8px 32px;
  margin: 8px;
}
