<div class="editor">
  <form class="editor__form" [formGroup]="form" [style.fontSize.px]="16">
    <div class="editor__header">
      <mat-form-field class="editor__title" floatLabel="always">
        <mat-label></mat-label>
        <input type="text" formControlName="title" matInput placeholder="タイトル*" autocomplete="off" />
        <mat-error *ngIf="titleControl.hasError('required')">必須項目です</mat-error>
        <mat-error *ngIf="titleControl.hasError('maxlength')">タイトルは255文字以内にしてください</mat-error>
      </mat-form-field>
      <mat-form-field class="editor__tag" floatLabel="always">
        <mat-label></mat-label>
        <input type="text" formControlName="tag" matInput placeholder="タグ" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="editor__content">
      <div [froalaEditor]="options" formControlName="editorContent">
      </div>
    </div>
    <div class="editor__buttons">
      <mat-slide-toggle class="public-option" formControlName="isPublic">公開設定</mat-slide-toggle>
      <button class="cancel-button" mat-button (click)="cancel()">
        キャンセル
      </button>
      <button [disabled]="form.invalid || form.pristine" class="post-button" mat-flat-button color="primary"
        (click)="submit()">
        {{isPublicControl.value ? '記事を公開' : '下書き保存'}}
      </button>
    </div>
  </form>
</div>
