<div class="editor">
  <form class="editor__form" [formGroup]="form" [style.fontSize.px]="16">
    <div class="editor__header">
      <mat-form-field class="editor__title" floatLabel="always">
        <mat-label></mat-label>
        <input type="text" formControlName="title" matInput placeholder="タイトル*" autocomplete="off" />
        <mat-error *ngIf="titleControl.hasError('required')">必須項目です</mat-error>
        <mat-error *ngIf="titleControl.hasError('maxlength')">タイトルは255文字以内にしてください</mat-error>
      </mat-form-field>
      <mat-form-field class="editor__tag" floatLabel="always">
        <mat-label></mat-label>
        <input type="text" formControlName="tag" matInput placeholder="タグ" autocomplete="off" />
      </mat-form-field>
    </div>
    <div class="editor__content">
      <div [froalaEditor]="options" formControlName="editorContent">
      </div>
    </div>
    <div class="editor__buttons">
      <button [disabled]="form.invalid" class="draft" mat-flat-button color="primary">
        下書きに保存
      </button>
      <button [disabled]="form.invalid" class="post" mat-flat-button color="primary" (click)="submit()">
        記事を公開する
      </button>
    </div>
  </form>
</div>
