@import 'mixins';

.search-result {
  max-width: 610px;
  margin: 0 auto;
  &__header {
    text-align: center;
  }
  &__title {
    padding-bottom: 8px;
    border-bottom: 1px solid $color-grey;
  }
  &__keyword {
    word-break: break-word;
  }
  &__hits {
    margin-left: 16px;
  }
}
