@import 'mixins';

.search-result {
  max-width: 610px;
  margin: 0 auto;
  &__header {
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
  }
  &__keyword {
    word-break: break-word;
  }
  &__hits {
    margin-left: 16px;
  }
}
