<ng-container *ngIf="articles$ | async as articles">
  <div class="my-article">
    <ng-container *ngIf="articles.length === 0">
      <p class="no-article">まだ、記事はありません。</p>
    </ng-container>
    <ng-container *ngFor="let article of articles">
      <div class="my-article__card">
        <app-article *ngIf="article" [article]="article"></app-article>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <mat-spinner class="loading-bar" diameter="100" strokeWidth="8"></mat-spinner>
</ng-container>
