<app-image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [resizeToWidth]="300"
  format="png"
  (imageLoaded)="imageLoaded()"
  (imageCropped)="imageCropped($event)"
  (loadImageFailed)="loadImageFailed()"
>
</app-image-cropper>
<div class="actions">
  @if (imageChangedEvent) {
  <button class="actions__cancel-button" mat-button (click)="resetInput()">
    キャンセル
  </button>
  }
  <button
    class="actions__change-button"
    [disabled]="!croppedImage"
    (click)="changeAvatar()"
    mat-flat-button
    color="primary"
  >
    変更する
  </button>
</div>
