<div class="comment-card">
  <ng-container *ngIf="allComments$ | async as allComments; else noComment">
    <div class="comment-card" *ngFor="let comment of allComments">
      <ng-container *ngIf="comment.author; else noComment">
        <div class="comment-card__head">
          <img
            class="comment-card__avatar"
            [src]="comment.author.avatarURL"
            alt="プロフィール画像"
          />
          <div class="comment-card__name">{{ comment.author.userName }}</div>
          <div class="comment-card__spacer"></div>
          <button
            mat-flat-button
            color="warn"
            (click)="
              commentService.deleteComment(comment.articleId, comment.commentId)
            "
            class="comment-card__delete"
            *ngIf="authService.uid === comment.uid"
          >
            削除
          </button>
        </div>
        <div class="comment-card__comment">{{ comment.text }}</div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noComment>
    <p class="no-article">まだコメントはありません。</p>
  </ng-template>
  <ng-container *ngIf="authService.user$ | async as user; else notLogin">
    <form class="comment-card__form" [formGroup]="form">
      <div class="comment-card__head">
        <mat-form-field floatLabel="always">
          <mat-label></mat-label>
          <textarea
            formControlName="comment"
            placeholder="記事にコメントをしてみましょう"
            autocomplete="off"
            matInput
            matTextareaAutosize
            [matAutosizeMinRows]="3"
            #body
          ></textarea>
        </mat-form-field>
      </div>
      <div class="comment-card__action">
        <button
          class="comment-card__submit"
          mat-flat-button
          color="primary"
          [disabled]="form.invalid || form.pristine || processing"
          (click)="sendComment(user.uid)"
        >
          コメントを残す
        </button>
      </div>
    </form>
  </ng-container>
  <ng-template #notLogin>
    <div class="not-login" *ngIf="!authService.loginProcessing; else loading">
      <form class="comment-card__form" [formGroup]="form">
        <div class="comment-card__head">
          <mat-form-field floatLabel="always">
            <mat-label></mat-label>
            <textarea
              formControlName="comment"
              placeholder="記事にコメントをしてみましょう"
              autocomplete="off"
              matInput
              matTextareaAutosize
              [matAutosizeMinRows]="3"
              #body
              (click)="openLoginDialog()"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="comment-card__action">
          <button
            class="comment-card__submit"
            mat-flat-button
            color="primary"
            disabled
          >
            コメントを残す
          </button>
        </div>
      </form>
    </div>
    <ng-template #loading>
      <mat-spinner
        class="loading-bar"
        diameter="55"
        strokeWidth="4"
      ></mat-spinner>
    </ng-template>
  </ng-template>
</div>
