<button mat-stroked-button class="edit" [routerLink]="'/notes/' + article.articleId + '/edit'">編集</button>
<button mat-icon-button [matMenuTriggerFor]="noteAction" aria-label="ノートのアクション" class="others">
  <mat-icon>more_horiz</mat-icon>
</button>

<mat-menu #noteAction="matMenu">
  <button mat-menu-item>
    <mat-icon>link</mat-icon>
    <span>共有リンクを取得</span>
  </button>
  <button mat-menu-item class="delete" (click)="openDeleteDialog(article)">
    <mat-icon>delete_forever</mat-icon>
    <span>削除</span>
  </button>
</mat-menu>
