<div class="home-page">
  <div class="home-main">
    <ng-container *ngIf="!(user$ | async)">
      <div class="welcome">
        <h1 class="welcome__title">音楽に関する知識を共有しよう</h1>
        <h2 class="welcome__sub-title">MusiLは、DTMや作曲に関する知識を記録・共有するためのサービスです。</h2>
        <p><a routerLink="/terms" class="terms-link">利用規約</a>に同意し、
          <button [disabled]="isProcessing" (click)="login()" mat-flat-button color="primary" medium
            class="login-button">
            <mat-icon><img src="/assets/icons/twitter_logo_white.png" alt="Twitterロゴ"></mat-icon>
            <span>{{isProcessing ? 'ログイン中' : 'Twitterでログイン'}}</span>
          </button></p>
      </div>
    </ng-container>
    <h3 class="home-main__title">トレンド</h3>
    <ng-container *ngFor="let article of articles$ | async">
      <app-article *ngIf="article" [article]="article"></app-article>
    </ng-container>
  </div>
  <div class="home-sub">
    <h3 class="home-main__title">最新の記事</h3>
    <ng-container *ngFor="let article of articles$ | async">
      <app-article *ngIf="article" [article]="article"></app-article>
    </ng-container>
  </div>
</div>
