.home-menu {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  &__item {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
  }
}

.home-main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.home-item {
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 4px 0;
  &__icon {
    min-width: 80px;
    margin-right: 16px;
  }
  &__right {
    height: 100px;
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__text {
    max-height: 44px;
    margin: 0;
    overflow: hidden;
  }
}
