.home-page {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-main {
  max-width: 610px;
  margin: 0 auto;
  &__title {
    color: #424242;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #424242;
  }
}
.home-sub {
  max-width: 290px;
  padding-left: 8px;
  margin: 0 auto;
  &__title {
    color: #424242;
  }
}

@media screen and (max-width: 940px) {
  .home-sub {
    max-width: 610px;
  }
}
