<ng-container *ngIf="!(user$ | async)">
  <div class="welcome" *ngIf="!isLoading">
    <div
      class="welcome__bg"
      [style.background-image]="'url(/assets/images/hero-image.jpg)'"
    ></div>
    <div class="welcome__wrapper">
      <div class="welcome__main">
        <h1 class="welcome__title">音楽の知識を記録しよう</h1>
        <h2 class="welcome__sub-title">
          MusiLは、DTMや作曲の知識を記録・共有するためのサービスです。
        </h2>
        <p class="welcome__agree">
          <a routerLink="/terms" class="terms-link">利用規約</a>に同意し、
          <button
            [disabled]="authService.loginProcessing"
            (click)="login()"
            mat-flat-button
            color="primary"
            class="login-button"
          >
            <mat-icon
              ><img
                src="/assets/icons/twitter-logo-white.png"
                alt="Twitterロゴ"
            /></mat-icon>
            <span>{{
              authService.loginProcessing ? 'ログイン中' : 'Twitterでログイン'
            }}</span>
          </button>
        </p>
        <p class="welcome__notice">
          ※読み取り専用です。許可なくツイート等は行いません。
        </p>
      </div>
    </div>
  </div>
</ng-container>
<div class="home-page">
  <div class="home-main" *ngIf="popularArticles$ | async as popularArticles">
    <h3 class="home-main__title">
      <mat-icon>trending_up</mat-icon>
      <span>トレンド</span>
    </h3>
    <div class="home-main__body">
      <div class="home-main__card" *ngFor="let article of popularArticles">
        <app-article [article]="article"></app-article>
      </div>
    </div>
  </div>
  <div class="home-sub" *ngIf="latestArticles$ | async as latestArticles">
    <h3 class="home-sub__title">
      <mat-icon>library_books</mat-icon>
      <span>最新の記事</span>
    </h3>
    <div class="home-sub__body">
      <div class="home-sub__card" *ngFor="let article of latestArticles">
        <app-article [article]="article"></app-article>
      </div>
    </div>
  </div>
</div>
