<ng-container *ngIf="articles$ | async as articles; else notFound">
  <div class="liked-articles">
    <ng-container *ngFor="let article of articles">
      <div class="liked-articles__card">
        <app-article *ngIf="article" [article]="article"></app-article>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="isLoading">
  <mat-spinner
    class="loading-bar"
    color="warn"
    diameter="55"
    strokeWidth="4"
  ></mat-spinner>
</ng-container>
<ng-template #notFound>
  <p class="no-article" *ngIf="!isLoading">まだ、記事はありません。</p>
</ng-template>
